.contactList {
  font-size: 24px;
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px 30px 100px;
  min-width: 1033px;
  background-image: url(https://celes.club/uploads/posts/2022-05/1653499005_2-celes-club-p-fon-list-bumagi-v-kletku-krasivie-2.png);

  & button {
    padding: 0 10px;
    height: 31px;
    background: transparent;
    transition-duration: 0.3s;
    border-radius: 5px;
    font-family: URW Chancery L, cursive;

    &:hover {
      color: white;
      background: black;
    }
  }
}
